---
import '../main.css';
import '../App.css';

interface Props {
  title?: string;
  description?: string;
  image?: string;
  type?: string;
}

const {
  title = "Christopher Carroll Smith",
  description = "Website of Christopher Carroll Smith, software architect, data storyteller, and president of Promptly Technologies, LLC.",
  image = "/images/Chris_landscape.jpg",
  type = "website"
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/images/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="description" content={description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content={type} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="Christopher Carroll Smith" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    {image && <meta name="twitter:image" content={image} />}
  </head>
  <body>
    <slot />
  </body>
</html>
